{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock title %}

{% block body %}
    <h1>{{ title }}</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum illum laborum pariatur doloremque dolor, maiores eveniet nulla aut a. Sunt rem dicta velit error libero excepturi, aut necessitatibus molestias at reiciendis vero officiis nulla, nesciunt molestiae inventore non amet sequi.</p>
    <p>Numquam quam quaerat quos dolorem quis error nisi voluptate quasi. Neque dolorem, nam accusamus aperiam sit fugit soluta? Quisquam perspiciatis doloribus porro laudantium pariatur modi nemo tempore aperiam, molestiae vitae consectetur temporibus assumenda iusto dolor saepe cum, nulla corporis suscipit.</p>

{% endblock %}